<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Clinical Data Report</title>
  </head>
  <body>
    <h1>Clinical Data Report:</h1>
    <table border="2">
      <thead>
        <th>Component Name</th>
        <th>Component Value</th>
        <th>Measure Date Time</th>
      </thead>
      {%for eachEntry in data%}
      <tr>
        <td>{{eachEntry.componentName}}</td>
        <td>{{eachEntry.componentValue}}</td>
        <td>{{eachEntry.measuredDateTime}}</td>
      </tr>
      {%endfor%}
    </table>
    <a href="/">Home</a>
  </body>
</html>
